h1, h2,ul {
	clear: both;
}

ul.pagination li:hover {
	background-color: #7CB078;
}


ul.simplePagerNav li{
    display:block;
    float: left;
    padding: 10px;
    padding-top: 5px;
    /*margin-bottom: 10px;*/
    font-family: georgia;
	font-size:20px;
}

ul.simplePagerNav li a{
    color: #333;
    text-decoration: none;
}

li.currentPage {
    background: #D50000;	
    border-radius: 4px;
    height: 15px;
    padding: -5px;
}

ul.simplePagerNav li.currentPage a {
	color: #fff;	
}
