body{
	background-color:#E5E5E5;
}

#content{
	background-color:#D50000;
	padding-bottom: 15px;
	padding-top:15px;	
}

#top{
	background-color:#000000;
	border-color#FFFFFF;
	border: 2px;
}

#menunav{
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 12px;
	margin-bottom: 8px;
	background-color: #FFFFFF;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.icon-bar{
	background-color: #000000;
}

#top li a{
	margin-top:5px;
	padding-top:15px;
	color:#FFFFFF;
	border-radius: 10px;
}

#top li a:hover{
	color:#000000;
	background-color:#FFFFFF;
}

#titleheader{
	color:#FFFFFF;
}


#textclose{
	color:#FFFFFF;
	background: none;
	margin-top:-70px; 
}

#textnav2{
	padding-top: 20px;
	color:#FFFFFF;
	font-size:23px;
}



#headpanelubication{
	background-color: #555555;
}

#headpanelubication h3{
	color:#FFFFFF;
}

#panelubication{
	background-color: #CCCCCC;
}

#imglogo{
	max-width: 150px;
	
	border: 2px solid black;
}

#map-canvas {
	width:100%;
 	height:230px;
}

#headpanelproducts{
	background-color: #555555;
}

#headpanelproducts h4{
	color:#FFFFFF;
}

#bodypanelproducts{
	background-color: #CCCCCC;
}

#headpanelcomment{
	background-color: #555555;
}

#headpanelcomment h4{
	color:#FFFFFF;
}

#bodypanelcomment{
	background-color: #CCCCCC;
}

#author{
	margin-top:-17px;
	margin-bottom: 10px;
}

a:link{
	text-decoration:none;
}

#facelink{
	overflow:hidden;
	text-overflow: ellipsis;
}

#twitterlink{
	overflow:hidden;
	text-overflow: ellipsis;
}

#websitelink{
	overflow:hidden;
	text-overflow: ellipsis;
}


