/* CSS Document */

/*-------------------------------------------*/
/* TITULOS */

.titulo_azul{
color:#3372a8;
font-size:16px;
}
#texto_usuario{
float:right;
left:75%;
color:#FFFFFF;
text-align:right;
font-size:11px;
margin:15px 25px 0px 0px;
position:absolute;
}
#texto_usuario a{
text-decoration:none;
color:#FFFFFF;
}
#texto_usuario a:hover{
color:#CCCCCC;
}




/*-------------------------------------------*/

/*-------------------------------------------*/
/* BOTONES */

.boton_azul{
color:#FFFFFF;
background-color:#3372a8;
line-height:2em;
background-image:url(../img/boton.png);
background-repeat:no-repeat;
background-position:90% 50%;
padding-left:10px;
}
.boton_azul a{
color:#FFFFFF;
text-decoration:none;
padding: 5px 15px 5px 10px;
}
.boton_azul a:hover{
color:#000;
}


.tabla{
margin:0px 10px;
}

.tabla_tit{
background-color:#333333; color:#FFFFFF;
}

.tabla td{
padding:5px;
}








/*-------------------------------------------*/