head, body{
	height: 100%;
}

.segmented-control { 
	text-align:center;
	
	background-color: #D50000;
	 
}
.segmented-control .ui-controlgroup { 
	display:inline; 
	margin:.2em 0px;
	 
}

#gmap-marker-link { 
	color:#00a0df; 
	text-decoration:none;
	 
}

.ui-gmap-infobox { 
	display:none;
	 
}

#show-more .ui-li-heading { 
	text-align:center;
	
}

#show-more .ui-icon { 
	visibility:hidden;
	
}

.ui-li-has-count .ui-li-count { 
	border-color:transparent;
	 
}


.wrap { 
	white-space:normal;
}


#map-search {
	margin-top: -32px;
	min-height: 650px;
	height: auto;
	height:100%;
}

#list-search img{
	border: 2px solid black;
	border-collapse: collapse;
	border-radius: 2px;
	zoom: 100%
	margin: auto;
    top: 8px;
    left: 8px;
}

#footer {
	position:absolute;
	bottom:0;
	width:100%;
}

#head{
	height: 52px;
	/**/
	background-color: #D50000;
}

#head img{
	margin-top:6px;
}

#head h1{
	margin-top:9px;
	font-size: 20px;
}

#head a{
	margin-top:6px;
}

#titleSettPanel{
	margin-top: -2px;
	color: #D50000;
	
}

#btnclose{
	margin-top:20px;
}

#result{
	font-size: small;
	background-color:#666666 ;
	width: 100%;
}

#titleLegenPanel{
	margin-top: -2px;
	color: #D50000;
	
}

#legenList li{
	min-height: 2px;
}

#legenList img{
	margin-top:10px;
	margin-left:10px;
}

#legenPanel{
	margin-top:140px;
}

#settingPanel{
	margin-top:60px;
}

#legenList p{
	margin-left:-50px;
}

#settingPanel{
	margin-top:53px;
}

#list-search img{
	border: 2px solid black;
	border-radius: 2px;
	zoom: 100%
	margin: auto;
    max-width: 100px;
    max-height: 100px;
}

#imglist{
	margin-top: -15px; 
	margin-bottom: -20px; 
	margin-left:-15px; 
	margin-right:20px;
}

.tablelist{
    table-layout:fixed;
    width:100%;
}

#content.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
}

#contentInfo{
	min-width: 100px;
	min-height: 100px;
}
